.course_list{
	width:100% !important;
}

.record td a{
	-webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;    
    transition: color 0.5s ease-in-out;
}

.record td a:hover{
	color:#73AFAF;
}