vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Feb 2014 15:35:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Jemyma\\Randy-Cofie
vti_modifiedby:SR|Jemyma\\Randy-Cofie
vti_timecreated:TR|20 Jan 2014 21:09:14 -0000
vti_backlinkinfo:VX|course.aspx lesson_view_text.html results.html default.html login.html
vti_nexttolasttimemodified:TW|03 Feb 2014 10:00:26 -0000
vti_cacheddtm:TX|03 Feb 2014 15:35:37 -0000
vti_filesize:IR|10233
vti_cachedlinkinfo:VX|S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/sprite.png S|../images/divider_line.png
vti_cachedsvcrellinks:VX|FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/sprite.png FSUS|images/divider_line.png
