vti_encoding:SR|utf8-nl
vti_author:SR|Jemyma\\Randy-Cofie
vti_modifiedby:SR|Jemyma\\Randy-Cofie
vti_timelastmodified:TR|31 Jan 2014 04:19:49 -0000
vti_timecreated:TR|21 Jan 2014 11:12:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|course.aspx lesson_view_text.html default.html login.html
vti_nexttolasttimemodified:TW|31 Jan 2014 04:19:41 -0000
vti_cacheddtm:TX|31 Jan 2014 04:19:49 -0000
vti_filesize:IR|3140
vti_cachedlinkinfo:VX|S|../font/Cabin-Regular.otf
vti_cachedsvcrellinks:VX|FSUS|font/Cabin-Regular.otf
